<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dice</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <nav>
        <div class="navbar-left">
            <h1>GROUP 11 OLAP</h1> 
        </div>
        <div class="navbar-right">
            <ul>
                <li><a href="drilldown.html">Drill down</a></li>
                <li><a href="rollup.html">Roll up</a></li>
                <li><a href="dice.html">Dice</a></li>
                <li><a href="slice.html">Slice</a></li>
            </ul>
        </div>
    </nav>

    <h1 class="title">DICE</h1>
    <p class="description">Select appointments for a specific patient on a specific date.</p>

    <table class="data-table">
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>

    <script src="scripts.js"></script>
</body>
</html>
