<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drill Down</title>
    <link rel="stylesheet" href="../styles.css"> 
</head>
<body>
    <nav>
        <ul>
            <li><a href="drilldown.html">Drill down</a></li>
            <li><a href="rollup.html">Roll up</a></li>
            <li><a href="dice.html">Dice</a></li>
            <li><a href="slice.html">Slice</a></li>
        </ul>
    </nav>

    <h1 class="title">DRILL DOWN</h1>

    <script src="scripts.js"></script>
</body>
</html>
